<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chefbox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Main CSS -->
  <link rel="stylesheet" href="css/sass-compiled.css" />
  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="../css/4-col-portfolio.css" rel="stylesheet">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
  .image { 
     position: relative; 
     width: 100%; /* for IE 6 */
  }

  h2 { 
     position: absolute;
     bottom: 10px;
     left: 0; 
     width: 100%; 
     text-align: left;
  }
  h2 span { 
     color: white; 
     font: bold 24px/45px Helvetica, Sans-Serif; 
     letter-spacing: -1px;  
     background: rgb(0, 0, 0); /* fallback color */
     background: rgba(0, 0, 0, 0.7);
     padding: 10px; 
  }
  h2 span.spacer {
     padding:0 5px;
  }
  </style>
</head>
<body>
  <!-- Navigation -->
  {{#if login}}
    {{> navbar-loggedin}}
  {{else}}
    {{> navbar}}
  {{/if}}
  
  <header>
  <h1>Explore the culinary world</h1>
  <p>Hi {{user.firstname}}, discover the best pop-ups and trending chefs around you!</p>
  </header>

  {{#each data.fooditems}}
  <div class="image" id={{id}}>
    <button style="background: #fff; border: none; text-shadow: none;">
      <img src="{{imageURL}}" alt="" />
      <h2><span>{{price}} | {{headline}}<span class="spacer"></span><br/></span></h2>
    </button>
  </div>
  {{/each}}

  <!-- Page Content -->
  {{> footer}}
  <!-- jQuery -->
  <script src="js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/discover.js"></script>


  <!-- TOUCH FRIENDLY IN MOBILE DEVICES -->
  <script>
    document.addEventListener("touchstart", function(){}, true);
  </script>
  {{> googleAnalytics}}
</body>
</html>