<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Chefbox</title>

  <!-- Bootstrap Core CSS -->
  <link href="../css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../css/4-col-portfolio.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    unli {
      text-decoration: underline;
    }
    cc {
      text-align: center;
    }
    rr {
      text-align: right;
    }
    #map-container {
      height: 500px;
      width: 100%;
    }
  </style>
</head>
<body>
  {{#if login}}
    {{> navbar-loggedin}}
  {{else}}
    {{> navbar}}
  {{/if}}

  <div class="container" style="text-align: center; position: relative; z-index: 1" id="container">
    <div class="form-group">
      <div class="input-group col-md-7" style="padding: 0 20px 0 20px;">
        <input id="keyword-search" type="text" class="form-control"  placeholder="Hi {{#if login}}{{user.firstname}}{{else}}there{{/if}}, what kind of food?" style="text-align: center;"/>
        <div class="input-group-btn" role="group">
          <button style="background: #fff; border: none; text-shadow: none; padding: none;">
            <span>
              <a href="search"><img src="images/magnifying-glass32.png" alt="none"/></a>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <input type="hidden" id="lat" value="{{doc.location.lat}}"/>
    <input type="hidden" id="lng" value="{{doc.location.lng}}"/>
    <div class="row" style="text-align: center;">
      <div class="col-md-12" align="cetner">
        <a href="#">
          <img class="img-responsive" src="data:{{doc.img.contentType}};base64,{{doc.img.data}}" alt="">
        </a>
      </div>
      <div class="col-md-12">
        <h1 class="page-header">
          <small id="headline"><b>{{doc.name}}</b></small>
          <br>
          <small id="price"><b>${{doc.price}}</b></small>
          <br>
          <small id="avgratings">
            {{doc.reviews.numofratings}} ratings:&nbsp;<unli><b>{{doc.reviews.avgrating}}/5.0</b></unli>
          </small>
        </h1>
        <p align:"center">{{doc.ingredients}}</p>
      </div>      
    </div>
    <div class="row" style="text-align: center;">
      <table>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th style="text-align: center;">
              Calories
            </th>
            <th>&nbsp;</th>
            <th style="text-align: center;">
              Type
            </th>
            <th>&nbsp;</th>
            <th style="text-align: center;">
              Ingredients
            </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <hr>
        <tbody>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{doc.calories}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{doc.type}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{doc.ingredients}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>
    <div class="row" style="text-align: center;">
      <table align="center">
        <thead>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <td>
            <a href="message">Message Chef Now!</a>
          </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>
            {{> orderview this.doc}}
          </td>
        </tbody>
      </table>
    </div>
    <br><br><br>
    <div class="row" style="text-align: center;"><b>{{doc.reviews.numofreviews}} Reviews</b></div>
    <br>
    <div class="col-md-12">
      <div class="input-group">
        <input id="keyword-search" type="text" class="form-control" placeholder="search reviews" style="text-align: center;" />
        <div class="input-group-btn" role="group">
          <button style="background: #fff; border: none; text-shadow: none;">
            <span class="image">
              <img src="images/magnifying-glass32.png" alt="none" />
            </span>
          </button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="width: 100%; margin: auto;">
      {{#each doc.reviews.userReviews}}
      <div class="col-md-12 portfolio-item">
        <p><b>{{reviewtitle}}</b>&nbsp;{{rating}}/5.0</p>
        <small>{{review}}</small>
      </div>
      {{/each}}
    </div>
    <hr>
    <div class="col-md-12">
      <p style="text-align: center; color:#666666;"><b>You can pick up this item at the location below</b></p>
    </div>
    <div class="col-md-12" id="map-container" style="height: 350px;"></div>
    {{> footer}}
  </div>

  {{> googleAnalytics}}

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/map/googleMapSearch.js"></script>
  <script src="js/foodinfoModal.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCojkxEmZw9xNuJPjaR97T2s4J8_gU1W9U&callback=GoogleMapsController.foodinfoInitMap" async defer></script>

</body>
</html>
